
body {
   background:url("/Image/bgall.gif") repeat;
}
form {
    /*border:solid 1px #000;*/
    margin:100px auto;
    width:100%;
    height:500px;
}
table{
   
    width:500px;
    margin:33px auto;
    /*border:solid 1px #000;*/ 
}
table tr td {
       font-weight:bold;
        border:solid 1px #000;  
    }
.cantainer tr {
     height:50px;  
}
.cantainer tr td:first-child{
   text-align:center;
   margin-left:50px;
}
.cantainer tr td input {
    /*background-color:#E6E6FA;*/
    height:30px;
    width:250px;
    }
.cantainer #submit{
margin-left:50px;
}

